
<!DOCTYPE HTML>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery1.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
</head>
<body>
<div class="header-top">
  <div class="wrap"> 
  </div>
		 <div class="cssmenu">
				<ul>
				  <li class="active"><a href="login.html">你好，请登录</a></li> |
                    <li><a href="register.html">注册</a></li> |
					<li><a href="checkout.html">购物车</a></li> |
				  <li><a href="checkout.html">我的订单</a></li> |
           </ul>
         </div>
		<div class="clear"></div>
</div>
	<div class="header-bottom">
	    <div class="wrap">
		  <div class="header-bottom-left">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=""/></a>
				</div>
				<div class="menu">
	            <ul class="megamenu skyblue">
			   <li class="active grid"><a href="index.html">首页</a></li>
			   <li><a class="color4" href="#">爱情鲜花</a>
			   <li><a class="color5" href="#">生日鲜花</a>
			   <li><a class="color6" href="other.html">庆典鲜花</a></li>
			   <li><a class="color7" href="other.html">永生花</a></li>
			</ul>
			</div>
		</div>
	   <div class="header-bottom-right">
         <div class="search">	  
				<input type="text" name="s" class="textbox" value="搜索" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="submit" value="Subscribe" id="submit" name="submit">
				<div id="response"> </div>
		 </div>
	  <div class="tag-list">
		<ul class="icon1 sub-icon1 profile_img">
			<li><a class="active-icon c2" href="#"> </a>
			  <ul class="sub-icon1 list">
				<li><h3>No Products</h3><a href=""></a></li>
					
				</ul>
			</li>
		</ul>
	    <ul class="last"><li><a href="#">购物车</a></li></ul>
	  </div>
    </div>
     <div class="clear"></div>
     </div>
</div>
        <div class="login">
          	<div class="wrap">
				<div class="col_1_of_login span_1_of_login">
					<h4 class="title">新用户注册</h4>
					<p>新用户须知说明文字</p>
					<div class="button1">
					   <a href="register.html"><input type="submit" name="Submit" value="注册"></a>
					 </div>
					 <div class="clear"></div>
				</div>
				<div class="col_1_of_login span_1_of_login">
				<div class="login-title">
	           		<h4 class="title">用户登录</h4>
					<div id="loginbox" class="loginbox">
						<form action="" method="post" name="login" id="login-form">
						  <fieldset class="input">
						    <p id="login-form-username">
						      <label for="modlgn_username">账号</label>
						      <input id="modlgn_username" type="text" name="email" class="inputbox" size="18" autocomplete="off">
						    </p>
						    <p id="login-form-password">
						      <label for="modlgn_passwd">密码</label>
						      <input id="modlgn_passwd" type="password" name="password" class="inputbox" size="18" autocomplete="off">
						    </p>
						    <div class="remember">
							    <p id="login-form-remember">
							      <label for="modlgn_remember"><a href="#">忘记密码？ </a></label>
							   </p>
							    <input type="submit" name="Submit" class="button" value="登录"><div class="clear"></div>
							 </div>
						  </fieldset>
						 </form>
					</div>
			    </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
        <div class="footer">
	 <div class="footer-bottom">
			<div class="wrap">
			  <p>全国统一订购热线：</p>
			  <p> 配送方式说明：   </p>
			  <p>售后服务：</p>
			</div>
	 </div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
