{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block content %}

<div class="login">
          	<div class="wrap">
				<div class="col_1_of_login span_1_of_login">
					<h4 class="title">近期优惠活动:</h4>
					<p>说明文字</p>
					
		<div class="clear"></div>
	</div>


<div class="col_1_of_login span_1_of_login">
   				
  <div class="login-title">
	<h4 class="title">用户登录</h4>
	<div id="loginbox" class="loginbox">


<form method="POST" action="login">
{% csrf_token %}


	<p>&nbsp;</p>
        <p id="login-form-username">
	<label for="modlgn_username">账号:</label>
        <input type="text" class="inputbox" name="username" id="inputEmail"  placeholder="请输入您的昵称">
        </p>
	<p>&nbsp;</p>
        <p id="login-form-password">
	<label for="modlgn_passwd">密码:</label>
       <input type="password" class="inputbox" id="inputPassword"  name="password" placeholder="请输入您的密码">
        </p>
   <div class="remember">
	
	<button type="submit" class="grey" >登录</button>
        <p align="right" id="login-form-remember">
        {# Assumes you setup the password_reset view in your URLconf #}
        <label  for="modlgn_remember"><a href="#">忘记密码？ </a></label>
        </p>
       <div class="clear"></div>
	</div>
	</fieldset>

</form>

	</div>
	</div>
	</div>
<div class="clear"></div>
	</div>
</div>




{% endblock %}
