{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block content %}

<div class="login">
          	<div class="wrap">
				<div class="col_1_of_login span_1_of_login">
					<h4 class="title">近期优惠活动:</h4>
					<p>说明文字</p>
					
		<div class="clear"></div>
	</div>


<div class="col_1_of_login span_1_of_login">
   				
  <div class="login-title">
	 <h4 class="title">用户登录</h4>
					<div id="loginbox" class="loginbox">

{% if form.errors %}
<p>用户名和密码不匹配，请重新输入</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>您的帐户无权访问此页面</p>
    {% else %}
    <p>请登录以查看此页面</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

   <fieldset class="input">
	<p>&nbsp;</p>
        <p id="login-form-username">
	<label for="modlgn_username">账号:</label>
       {{ form.username }}
        </p>
	<p>&nbsp;</p>
        <p id="login-form-password">
	<label for="modlgn_passwd">密码:</label>
        {{ form.password }}
        </p>
   <div class="remember">
	<p id="login-form-remember">
        {# Assumes you setup the password_reset view in your URLconf #}
        <label for="modlgn_remember"><a href="{% url 'password_reset' %}">忘记密码？ </a></label>
        </p>
	<input type="submit" class="button" value="登录" />
        <input type="hidden" name="next" value="{{ next }}" />
       <div class="clear"></div>
	</div>
	</fieldset>

</form>

	</div>
	</div>
	</div>
<div class="clear"></div>
	</div>
</div>




{% endblock %}
